body{
    background-color: #eedaed;
}
#h1 {
    font-family: 'Arial', sans-serif;
    color: #332525;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


#calculator {
    background-color: #af8bb2;
    padding: 20px;
    border-radius: 15px;
    width: 350px; 
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


input[type="number"],
select,
input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px); 
}


#calculateBtn {
    padding: 10px 20px; 
    background-color: #d2c7d9;
    color: rgb(12, 1, 1);
    border: none;
    border-radius: 5px;
    font-size: 22px; 
    cursor: pointer;
    width: 50%; 
    margin-top: 15px
}

#calculateBtn:hover {
    background-color: #977ead;
}


#res {
    background-color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    padding: 10px;
}
